*, *::before, *::after {
  box-sizing: border-box;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 20px;
  border: 1px solid black;
  filter: drop-shadow(0.5rem 0.5rem #000);
  max-width: 327px;
  font-family: "Figtree", sans-serif;
  font-size: 0.875rem;
}

.banner {
  width: 100%;
  border-radius: 10px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.hero span {
  background-color: #f4d04e;
  color: #000;
  font-weight: 800;
  padding: 0.33em 1em;
  border-radius: 0.25rem;
  width: fit-content;
}

.publish-date {
  display: none;
  color: #000;
}

h1 {
  font-size: 1.25rem;
  font-weight: 800;
  color: #000;
}

a {
  text-decoration: none;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 800;
  color: #000;
}

.author img {
  max-width: 32px;
}

@media (min-width: 600px) {
  .publish-date {
    display: block;
  }

  h1:hover {
    color: #f4d04e;
    cursor: pointer;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tags span {
  flex: 1 1 auto;       /* grow & shrink automatically */
  text-align: center;
}