.tag-legend {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.legend-tag {
  opacity: 0.7;
}

.legend-tag:hover {
  opacity: 1;
}

.active-tag {
  outline: 2px solid #000;
  outline-offset: 2px;
  opacity: 1;
  transform: scale(1.05);
}

html {
  scroll-behavior: smooth;
}

.btn {
  cursor: pointer;
}